@model MrJack.Models.OSDefeitosViewModel
@{
    ViewBag.Title = "Impressao";
    Layout = "";
}


<html>
<head>
    <script type="text/javascript">
        function loadPrint() {
            window.print();
            setTimeout(function () { window.close(); }, 100);
            //window.open('', '_self', ''); window.close();
        }
    </script>
    <style type="text/css">
        table {
            border: 1px solid #000;
            width: 100%;
        }

        td, th {
            border: none;
        }

        hr {
            width: "100%";
            border: none;
            color: #000;
            background-color: #000;
            margin-top: 0px;
            margin-bottom: 0px;
            display: block;
            border-top: solid 1px #aaa;
        }

        .semOver {
            width: auto;
            float: left;
            background: #ffffff;
        }

        .comOver {
            overflow: hidden;
        }
    </style>
</head>
<body onload="loadPrint();">
    
    <table cellspacing="7">
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <img src="~/build/images/logo/logo_impressao.png" alt="" width="300px"><br />
                    CNPJ:21.746.885/0001-42<br />
                    @Model.OS.quemCadastrou.filial.Endereco, @Model.OS.quemCadastrou.filial.Numero - @Model.OS.quemCadastrou.filial.Completmento<br />
                    Para verificar o status da OS: MRJACKRJ.COM.BR
                </td>
                <td>
                    <span style="color:red;font-size:large;font-weight:bold;">@Model.OS.Id</span><br />
                    Ordem de Serviço<br />
                    Data: @DateTime.Now.ToLongDateString()<br />
                    Hora: @DateTime.Now.ToString("h:mm:ss tt")<br />
                    Tel: (21) 96971-7219<br />
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>Dados do Cliente</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="semOver"><b>Nome:  &nbsp;</b></div><div class="comOver"> @Model.OS.usuario.Nome&nbsp;<hr /></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="semOver"><b>Tel:  &nbsp;</b></div><div class="comOver"> @Model.OS.usuario.Telefone&nbsp;<hr /></div>
                </td>
                <td>
                    <div class="semOver"><b>CPF:  &nbsp;</b></div> <div class="comOver">@Model.OS.usuario.Login&nbsp;<hr /></div>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h3>Dados do aparelho</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="semOver"><b>Modelo:  &nbsp;</b> </div><div class="comOver">@Model.Defeitos.defeitoValor.modelo.Descricao &nbsp;<hr /></div>
                </td>
                <td>
                    <div class="semOver"><b>IMEI:  &nbsp;</b> </div><div class="comOver">@Model.OS.IMEI&nbsp;<hr /></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="semOver"><b>Troca de Peça:  &nbsp;</b> </div><div class="comOver">@Model.Defeitos.defeitoValor.Defeito&nbsp;<hr /></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="semOver"><b>Defeito:  &nbsp;</b> </div><div class="comOver">@Model.OS.DescDefeito &nbsp;<hr /></div>
                </td>
            </tr>
            @*<tr>
                <td colspan="2">
                    <b>Troca de peças:  &nbsp;</b> @if (Model.OS.trocaPecas)
                    {
                        <text>(X) SIM  ( ) NÃO</text>
                    }
                    else
                    {
                        <text>( ) SIM  (X) NÃO</text>
                    }
                </td>
            </tr>*@
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    <div class="semOver"><b>Senha:  &nbsp;</b> </div><div class="comOver">@Model.OS.Senha&nbsp;<hr /></div>
                </td>
                <td>
                    <b>Aparelho Testado:  &nbsp;</b>
                    @if (Model.OS.aparelhoTestado)
                    {
                        <text>(X) SIM  ( ) NÃO</text>
                    }
                    else
                    {
                        <text>( ) SIM  (X) NÃO</text>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    <div class="semOver"><b>Valor R$:  &nbsp;</b> </div><div class="comOver">@if (Model.OS.ValorTotal > 0)
                    { <text>@string.Format("{0:#.00}", Convert.ToDecimal(Model.OS.ValorTotal))</text> }
                    else { <text></text> }<hr /></div>
                </td>
                <td>
                    <b></b> @if (Model.OS.tipoPagamento == MrJack.Dominio.TipoPagamento.Cartao)
                    {
                        <text>(X) CARTÃO  ( ) DINHEIRO</text>
                    }
                    else
                    {
                        <text>( ) CARTÃO  (X) DINHEIRO</text>
}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="semOver"> <b>Garantia (dias):  &nbsp;</b> </div><div class="comOver">&nbsp;<hr /></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="semOver"><b>Comentários:  &nbsp;</b> </div><div class="comOver">@Model.OS.comentarios<hr /></div>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            
            <tr>
                <td colspan="2" align="center">Ass: _____________________________________</td>
            </tr>
        </tbody>
    </table>
</body>
</html>